{% extends "base.html" %}

{% block title %}Chat List Example{% endblock %}
{% block header_text %}Chat List Example{% endblock %}

{% block content %}

    <ul class="rooms">
        {% for room in rooms %}
            <li class="room-link" data-room-id="{{ room.id }}">
                <a href="{% url 'chat:chat' room.id %}">{{ room }}</a>
            </li>
        {% empty %}
            <p class="empty">No chat rooms defined. Maybe make some in the <a href="{% url 'admin:index' %}">admin</a>?</p>
        {% endfor %}
    </ul>

{% endblock %}
